/*
    This is the main style of the Website
*/

/* Variable decalarations */
/* @font-face {
    font-family: "GoShareFont";
    src: url("./Roboto/Roboto-Black.ttf");
    src: url("./Roboto/Roboto-BlackItalic.ttf");
    src: url("./Roboto/Roboto-Bold.ttf");
    src: url("./Roboto/Roboto-BoldItalic.ttf");
    src: url("./Roboto/Roboto-Italic.ttf");
    src: url("./Roboto/Roboto-Light.ttf");
    src: url("./Roboto/Roboto-LightItalic.ttf");
    src: url("./Roboto/Roboto-Medium.ttf");
    src: url("./Roboto/Roboto-MediumItalic.ttf");
    src: url("./Roboto/Roboto-Regular.ttf");
    src: url("./Roboto/Roboto-Thin.ttf");
    src: url("./Roboto/Roboto-ThinItalic.ttf");
} */

@font-face {
    font-family: "GoShareFont";
    src: url("./Roboto/Roboto-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "GoShareFont";
    src: url("./Roboto/Roboto-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "GoShareFont";
    src: url("./Roboto/Roboto-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "GoShareFont";
    src: url("./Roboto/Roboto-Bold.ttf");
    font-weight: bold;
}

:root {  
    --c-light: #ffffff;
    --c-red: #C55353;
    --c-blue: #539AC5;
    --gray: #5e5e5e;

    --orange1: #d17b58;
    --orange3: #fdf4ef;
    --gray1: #414243;
    --gray2: #5e5e5e;
    --green1: #88aa91;
    --red1: #b35754;
    --blue1: #57c6f2;
}

.gs-bg-orange-2, body {
    background-color: var(--c-light)!important;
}

.gs-navbar-orange {
    background-color: var(--c-light)!important;
}

.gs-navbar-orange .gs-navbar-brand {
    color: var(--gray1)!important;
}

.gs-navbar-brand {
    font-size: 1.75rem!important;
    font-weight: 600;
}

.gs-navbar-brand-text {
    display: inline-block;
    transform: scaleY(1.1);
}

.gs-navbar-orange .gs-navbar-nav {
    background-color: var(--c-light)!important;
    border-radius: 20px!important;
    padding-left: 1.25%;
    padding-right: 1.25%;
}

.gs-navbar-orange .gs-navbar-nav .gs-nav-link {
    color: var(--c-red)!important;
    font-size: 17px!important;
    font-weight: 500!important;
    margin-left: 15px;
}

.gs-nav-item.active > .gs-nav-link {
    color: var(--gray1)!important;
}

.dropdown-menu .gs-nav-item > .gs-nav-link {
    color: var(--gray1)!important;
}

.gs-navbar-orange .gs-navbar-nav .gs-nav-link:focus, .gs-navbar-orange .gs-navbar-nav .gs-nav-link:hover {
    color: var(--gray1)!important;
}

.gs-title {
    color: var(--c-red)!important;
    font-family: 'GoShareFont';
    font-weight: 500;
}

.gs-tool-card {
    margin-bottom: 25px;
    background-color: var(--c-light)!important;
    padding-top: 15px;
    padding-bottom: 15px;
    /* -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px rgba(119, 119, 119, 0.466);
          box-shadow: 0 0 6px rgba(119, 119, 119, 0.466);
    border-radius: .5rem; */
}

@keyframes hoverCardAnimation {
    from {box-shadow: none;}
    to {box-shadow: 0 0 6px rgba(119, 119, 119, 0.466);}
}
.gs-tool-card:hover {
    animation: hoverCardAnimation 0.15s ease-out forwards;
}

.gs-tool-card h3, .gs-tool-card p {
    color: var(--gray2)!important;
}

.gs-tool-card .gs-tool-card-infos {
    /* border: solid 2px red; */
    display: flex;
    height: 225px;
    flex-direction: column;
}

.gs-tool-card .gs-tool-card-infos p, .gs-tool-card .gs-tool-card-infos .p {
    text-align: justify;
    flex:1;
    min-height: 0;
    margin-bottom: 0;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    /* border: solid 2px blue; */
}

.gs-tool-card-infos .gs-tool-card-actions {
    /* border: solid 2px green; */
    flex:0;
}

.gs-tool-card-infos .gs-tool-card-actions a, .gs-tool-card-infos .gs-tool-card-actions .gs-a {
    margin: 5px;
    border-radius: 1rem;
    padding-left: 15px;
    padding-right: 15px;
}

.gs-btn, .gs-btn-rounded {
    margin: 5px!important;
    padding-left: 15px!important;
    padding-right: 15px!important;
}

.gs-btn-rounded {
    border-radius: 1rem!important;
}

.gs-btn-blue {
    color: #fff;
    background-color: var(--c-blue);
    border-color: var(--c-blue);
}

.gs-btn-red {
    color: #fff;
    background-color: var(--c-red);
    border-color: var(--c-red);
}

.gs-btn-green {
    color: #fff;
    background-color: var(--green1);
    border-color: var(--green1);
}

.gs-fit-image{
    width: 300px;
    object-fit: cover;
    height: 225px;
}

.gs-page-item.active .gs-page-link {
    position: page;
    z-index: auto;
    color: #fff;
    /* background-color: var(--orange1);
    border-color: var(--orange1); */
    background-color: white;
    color: var(--orange1);
    border: none;
}

.gs-page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: var(--gray1);
    background-color: unset;
    /* border: 1px solid #dee2e6; */
    border: none;
}

.gs-page-link:hover {
    z-index: 2;
    color: var(--orange1);
    text-decoration: none;
    /* background-color: #e9ecef;
    border-color: #dee2e6; */
    background-color: unset;
    border:none;
}

.gs-page-item a:focus { outline: none !important; box-shadow: none; }

.gs-page-item.active .gs-page-link:hover{ opacity: 1; }

.dropdown-menu {
    left: 50% !important; /* transform: translateX(-50%) !important; */ top: 100% !important;
}

.gs-text-gray1 {
    color: var(--gray1)!important;
}

.gs-text-gray2 {
    color: var(--gray2)!important;
}

/**======================
*   FOOTER
*=================
*/
.gs-footer-wrap {
    background-color:#ffffff ;
  width: 100%;
  position: fixed;
  bottom: 0px;
  padding: 10px;
  color: #C55353 ;
  z-index: 100;
}

.gs-footer {
    font-size: 1em;
    text-align: center;
}

.gs-footer .gs-footer-link > *, .gs-footer .gs-footer-link:visited {
    color: var(--c-red)!important;
}


/**======================
*   HOME
*=================
*/

.gs-search-input {
    box-shadow: 1px 2px 7px rgba(119, 119, 119, 0.466)!important;
}

#home-bg-img-left::before {
    content: url("./bg-img/Gruppe\ 270.svg");
    position: absolute;
    margin-left: -245px;
}

#home-bg-img-right::after {
    content: url("./bg-img/Gruppe\ 269.svg");
    position: absolute;
    margin-left: 1000px;
    margin-top: -270px;
}

@media screen and (max-width: 1145px) {
    #home-bg-img-right::after {
        margin-left: 850px;
    }
}